* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
  height: 100%;
}

/*HEADER*/
.header {
  padding: 48px 120px 48px 120px;
}

header.header ul {
  list-style: none;
  display: flex;
  height: 100%;
  align-items: center;
}
header.header .wrapper {
  display: flex;
  justify-content: space-between;
}
header.header .wrapper .logo {
  cursor: pointer;
}

header.header ul li a {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  text-decoration: none;
  padding: 3px;
}
header.header ul li {
  margin-left: 60px;
  white-space: nowrap;
}
/*HEADER*/

/*SECTION MAIN INFO*/
section.main-info .container {
  display: flex;
  justify-content: space-between;
}
section.main-info .container .left-content {
  margin-left: 120px;
  padding-top: 116px;
  max-width: 462px;
  position: relative;
}
section.main-info .container .right-content .people {
  width: 100%;
  height: 512px;
  object-fit: cover;
}

section.main-info .container .right-content {
  width: 754px;
  height: 512px;
  background-color: aquamarine;
  position: relative;
}

section.main-info .container .left-content h1.title {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  white-space: nowrap;
  color: #000000;
}
section.main-info .container .left-content .dots {
  position: absolute;
  bottom: 0;
  left: -53px;
}
section.main-info .container .left-content p {
  margin-top: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #565656;
}

section.main-info .container .left-content button {
  margin-top: 33px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
  padding: 20px 40px;
  border: none;
  background: #2639ed;
  border-radius: 60px;
  cursor: pointer;
}

section.main-info .container .right-content .ball {
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  z-index: -1;
}
section.main-info .container .right-content .rect {
  position: absolute;
  bottom: 0;
  right: 120px;
  transform: translateY(50%);
  z-index: -1;
}
/*SECTION MAIN INFO*/

/*SECTION CLIENTS*/
section.clients .container {
  display: flex;
  justify-content: space-between;
  padding: 0 120px;
}
section.clients {
  margin-top: 140px;
  margin-bottom: 90px;
}

section.clients .container .left-content {
  width: 318px;
}

section.clients .container .left-content h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  color: #000000;
  white-space: nowrap;
}
section.clients .container .left-content p {
  margin-top: 17px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #757575;
}

section.clients .container .right-content {
  max-width: 748px;
  margin-left: 60px;
}

section.clients .container .right-content .websites {
  margin-left: 60px;
  width: 748px;
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  margin-top: 20px;
}
section.clients .container .right-content .websites img:last-child {
  margin-top: 21px;
}
/*SECTION CLIENTS*/

/*SECTION CARDS*/
section.cards {
  margin-bottom: 50px;
}
section.cards .info .rect {
  z-index: -1;
  position: absolute;
  top: -43%;
  left: -16%;
}
section.cards .info .rect img {
  transform: rotate(180deg);
}
section.cards .dots {
  position: absolute;
  bottom: -295px;
}

section.cards .cards-info-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 0 0 120px;
  gap: 110px;
}
section.cards .cards-info-wrapper .info {
  position: relative;
}
section.cards .cards-info-wrapper .info h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  color: #000000;
  margin-bottom: 30px;
}
section.cards .cards-info-wrapper .cards {
  position: relative;
}
section.cards .cards-info-wrapper .cards .layer {
  position: absolute;
  right: 0;
  z-index: -1;
  top: 120px;
}
section.cards .cards-info-wrapper .cards .ellipse {
  position: absolute;
  bottom: 40px;
  z-index: -1;
  right: 130px;
}
section.cards .cards-info-wrapper .info p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #565656;
}
section.cards .cards-info-wrapper .cards {
  position: relative;
}

section.cards .cards-info-wrapper .cards .top-cards,
section.cards .cards-info-wrapper .cards .bottom-cards {
  display: flex;
  gap: 30px;
  margin-right: 183px;
}
section.cards .cards-info-wrapper .cards .card-item {
  width: 308px;
  height: 379px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 40px;
  padding: 39px 30px 57px 30px;
  border: 1px solid #f2f2f2;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.05);
}
section.cards .cards-info-wrapper .cards .card-item .card-item-first {
  width: 121px;
  height: 121px;
  border-radius: 20px;
  background-color: #f1f7ff;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.cards .cards-info-wrapper .cards .card-item:first-child {
  margin-top: 66px;
}

section.cards .cards-info-wrapper .cards .card-item h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #000000;
}

section.cards .cards-info-wrapper .cards .card-item p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #757575;
}

section.cards .cards-info-wrapper .cards .card-item .card-item-second {
  width: 121px;
  height: 121px;
  border-radius: 20px;
  background-color: #fff7e3;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.cards .cards-info-wrapper .cards .card-item .card-item-third {
  width: 121px;
  height: 121px;
  border-radius: 20px;
  background-color: #fff2f8;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.cards .cards-info-wrapper .cards .card-item .card-item-fourth {
  width: 121px;
  height: 121px;
  border-radius: 20px;
  background-color: #deffee;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*/SECTION PRODUCT/*/

.product {
  padding: 146px 120px 180px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 110px;
}
.product .video-image {
  max-width: 550px;
  position: relative;
}
.product .video-image .play-button {
  width: 78px;
  height: 78px;
  background: #2639ed;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.product .video-image .play-button .triangle {
  position: absolute;
  top: 30%;
  left: 36%;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-top: 0;
  border-bottom: 30px solid white;
  transform: rotate(89deg);
}
.product .video-image .yellow-ball {
  position: absolute;
  height: 129px;
  width: 129px;
  bottom: -61px;
  right: -55px;
  z-index: -1;
}
.product .info {
  position: relative;
}
.product .info .rect-violet {
  position: absolute;
  z-index: -1;
  top: -23px;
  left: -55px;
}
.product .video-image img {
  width: 100%;
  border-radius: 30px;
}

.product .info {
  height: 100%;
}

.product .info h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  color: #000000;
  margin-bottom: 30px;
}

.product .info p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #565656;
}
/*/SECTION PRODUCT/*/

/*/SECTION CLIENTS INFO/*/
.clients-info {
  padding: 0 477px 113px 477px;
}

.clients-info .text h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  color: #000000;
  white-space: nowrap;
  margin-bottom: 17px;
}

.clients-info .text p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #757575;
  white-space: nowrap;
}
/*/SECTION CLIENTS INFO/*/

/*/SECTION PHOTOS/*/
.photos {
  padding: 0 50px 148px 117px;
  display: flex;
  justify-content: space-between;
  margin-right: 69px;
}
.photos .left-content {
  width: 985px;
  display: flex;
  justify-content: space-between;
}
.photos .photos-circle {
  height: 359px;
  width: 350px;
  margin: 20px 0 0 40px;
  position: relative;
}

.photos-circle img:first-child {
  position: absolute;
  top: 48px;
}
.photos-circle img:nth-child(2) {
  position: absolute;
  right: 117px;
}
.photos-circle img:nth-child(3) {
  position: absolute;
  top: 55px;
  right: 19px;
}
.photos-circle img:nth-child(4) {
  position: absolute;
  top: 158px;
  right: 0;
}
.photos-circle img:nth-child(5) {
  position: absolute;
  top: 242px;
  right: 37px;
}
.photos-circle img:nth-child(6) {
  position: absolute;
  bottom: 0;
  right: 129px;
}
.photos-circle img:nth-child(7) {
  position: absolute;
  left: 0;
  top: 185px;
}
.photos-circle img:nth-child(8) {
  position: absolute;
  left: 113px;
  top: 112px;
}
.photos-circle img:nth-child(9) {
  width: 184px;
  height: 184px;
  position: absolute;
  z-index: -1;
  left: 22px;
  top: 105px;
}
.photos .left-content .info h5 {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.photos .left-content .info {
  padding-left: 67px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.photos .left-content .info p {
  width: 412px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #565656;
  margin-top: 21px;
}
.photos .left-content .info .slider-dots {
  width: 184px;
  height: 17px;
  display: flex;
  justify-content: space-between;
  gap: 26px;
  list-style: none;
  margin-top: 40px;
}
.photos .left-content .info .slider-dots li {
  height: 16px;
  width: 16px;
  background: #e7f0fc;
  border-radius: 50%;
}
.photos .left-content .info .slider-dots li:first-child {
  background: #2639ed;
}
.photos .left-content .guy-photo {
  max-width: 389px;
  max-height: 189px;
  position: relative;
}
.photos .left-content .guy-photo .small-dots {
  position: absolute;
  z-index: -1;
  top: -11px;
  left: 272px;
}
.photos .left-content .guy-photo .ellipse {
  position: absolute;
  z-index: -1;
  bottom: -227px;
  left: 28px;
}
